<div class="row-centered">
  <div class="col-centered">
    <div class="row">
      <div class="col-">
        <div class="tweet-select-btns">
          <button id="covid-button" phx-click="covid" class="<%= @button_style_covid %>">covid</button>
          <button id="vaccine-button" phx-click="vaccine" class="<%= @button_style_vaccine %>">vaccine</button>
          <button id="graphs-button" class="btn btn-info" data-csrf="csrf_token" data-method="get" data-to="/graphs">graphs</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-row">
  <div class="col" id="tweet-listing">
    <div class="area">
      <div class="container">
        <div class="row">
          <div class="col-">
            <div class="twitter-logo">
              <img src="<%= Routes.static_path(@socket, "/images/twitter-logo-blue.png") %>" alt="twitter"/>
            </div>
          </div>
          <div class="col-">
            <div class="title">
              <h2><%= gettext "Tweets" %></h2>
            </div>
            <p id="tweet-desc">Top tweets for <b><%= @label %></b> on <%= @yesterday %> within 80 miles of Denver, CO</p>
          </div>
        </div>
      </div>
    </div>

    <%= for tweet <- @tweets do %>
      <div class="area">
        <div class="media">
          <div class="media-left">
            <img class="profile-picture" src="<%= tweet.profile_image_url %>" width="45" height="45">
          </div>
          <div class="media-body">
            <div class="meta">
              <span class="name"><%= tweet.name %></a></span>
              <span class="tweet-data-text">@<%= tweet.screen_name %></span>
              <span class="tweet-data-text"><%= format_datetime(tweet.time) %></span>
              <%= if tweet.sentiment do %>
              <span class="tweet-data-sentiment">
                <small class="text-muted">Sentiment: <%= tweet.sentiment %></small>
                <%= case tweet.sentiment do %>
                <% n when n > 0 -> %>
                  <img src="<%= Routes.static_path(@socket, "/images/smile.png") %>" width="25" height="25">
                <% 0 -> %>
                  <img src="<%= Routes.static_path(@socket, "/images/neutral.png") %>" width="25" height="25">
                <% n when n < 0 -> %>
                  <img src="<%= Routes.static_path(@socket, "/images/frown.png") %>" width="25" height="25">
                <% end %>
                </span>
            <% end %>
            </div>

            <div class="text">
              <%= raw tweet.text %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="main-row">
  <div class="col" id="hashtag-listing">
    <div class="area">
      <div class="container">
        <div class="row">
          <div class="col-">
            <div class="twitter-logo">
              <img src="<%= Routes.static_path(@socket, "/images/hashtag.png") %>" alt="twitter"/>
            </div>
          </div>
          <div class="col-">
            <div class="title">
              <h2><%= gettext "Hashtags" %></h2>
            </div>
            <p id="hashtag-desc">Top hashtags associated with <b><%= @label %></b> on <%= @yesterday %> within 80 miles of Denver, CO</p>
          </div>
        </div>
      </div>
    </div>
    <%= case is_nil(@hashtags) do %>
      <% true -> %>
      <div class="area">
        <%= "No hashtags were associated with the given keyword more than once." %>
      </div>
      <% false -> %>
        <%= for hashtag <- @hashtags.hashtags do %>
          <div class="area">
            <%= hashtag %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>