<table>
  <tr>
    <th><b>Time</b></th>
    <th><b>Location</b></th>
    <th><b>Content</b></th>
    <th><b>Hashtags</b></th>
  </tr>
<%= for tweet <- @tweets do %>
  <tr>
    <th><%= tweet.time %></th>
    <th><%= tweet.location %></th>
    <th><%= tweet.content %></th>
    <th><%= tweet.hashtags %></th>
  </tr>
<% end %>
</table>
