<div class="row">
  <div class="col-lg-12">
    <div class="area">
      <div class="twitter-logo">
        <img src="<%= Routes.static_path(@conn, "/images/twitter-logo-blue.png") %>" alt="twitter"/>
      </div>
      <h2><%= gettext "Top Tweets" %></h2>
    </div>
    <%= for tweet <- @tweets do %>
      <%= render CovidTweetsWeb.TweetDisplayView, "single_tweet.html", conn: @conn, tweet: tweet %>
    <% end %>
  </div>
</div>

<div class="switch_button">
    <button class="button" data-csrf="csrf_token" data-method="get" data-to="/graphs">To Graphs</button>
</div>